<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap" rel="stylesheet">
    <link
      rel="icon"
      href="https://image.apktoy.com/img/e6/com.ril.ajio/icon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="view/public/styles/nav.css" />
    <link rel="stylesheet" href="view/public/styles/cat.css"/>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <section id="nav"></section>
    <section id="maincat">
        <div id="srt">
            <h2>Refine By</h2>
        </div>
        <div id="prod">
            <div id="toptag">
                <h4>MEN'S</h4>
                <h1>Shirts</h1>
                <h5>Boardroom meetings or clubbing nights, stay in style effortlessly with AJIO’s range of men’s shirts. Browse through classic white shirts for men, charming printed shirts, cool denim shirts, quirky shackets and more to get your fashion quotient soaring</h5>
            </div>
            <div id="midtag"></div>
            <div id="bottag"></div>
        </div>
    </section>


</body>
</html>
<script type="module">
    // navbar
    import navbar from '/view/public/js/nav.js'
    document.getElementById('nav').innerHTML = navbar()
  </script>