/* .drop_dow{

} */
.aa{
  letter-spacing: 1.5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.drop_dow:hover .drop_menu{
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s;
  
}
.drop_dow:hover .aa{
  font-weight: 600;
}



.drop_dow>button{
  border: none;
  height: 100%;
  margin: 0 10px 0 10px;
  background-color: unset;
  font-size: 15px;
  color: #5c5a5a;
}
.drop_menu{
  display: none;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 500px;
  background-color: white;
}

.drop_top{
  background-color:white;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px lightgray solid;
}
.drop_top>div{
  height: 100%;
  /* padding: 15px; */
  margin-left: 3px;
  color: #3d4f5f;
  line-height: 300%;
  background-color: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
}
.drop_top>div:nth-child(1){
  margin-left: 10px;
  background-color: unset;
}
.drop_bot{
  display: flex;
  height: 90%;
}
.drop_bot>div{
  width: 23%;
  height: 95%;
  margin: 1%;
  background-color: white;
  margin-left: 2%;
}
.drop_bot>div>h1{
  font-weight: 600;
  font-size: 15px;
}
.drop_bot>div>h4{
  font-size: 15px;
  
}
#backdrop{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: black;
  opacity: 0.4;
  left: 0;
  display:none;
}
#bd{
  background-color: white;
  width: 410px;
  top: 20px;
  opacity: 1;
  z-index: 10;
  position: fixed;
  left: 50%;
  height: 740px;
  transform: translateX(-50%);
  border: #3d4f5f 1px solid;
  display: none;
  flex-direction: column;
}
#sec_a{
  height: 100%;
  display:none;

}
#sec_a>div{
  display: flex;
}
#sec_a>i{
  display: flex;

justify-content: end;
padding: 10px;
}
.x{
border: none;
background-color: unset;
padding: 0px;
}
#sec_a>h1{
  width: 80%;
  padding:10%;
  font-size: 22px;
  font-weight: 700;
}
#sec_a>h3{
  width: 80%;
  padding: 10px;
  padding-left:10%;
  padding-right:10%;
  font-size: 15px;
}
#sec_a>div{
  display: flex;
  padding-left:10%;
  padding-right:10%;
  justify-content: space-between;
}

#sec_a>div>button{
  width: 48%;
  height: 50px;
  background-color: unset;
}
#sec_a>div>button>i{
font-size: 20px;
}
#sec_a>p{
  width: 100%;
  text-align: center;
  margin: 10px;
}
#sec_a>form>h3{
  width: 80%;
  padding: 10px;
  padding-left:10%;
  padding-right:10%;
  font-size: 15px;
}
#sec_a>form>input{
  background-color: unset;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 15px;
  border: #e5e5e5 1px;
  margin-bottom: 25px;
  border-style: none none solid none;
}
#sec_a>h4{
  width: 80%;
  padding-left: 10%;
  padding-top: 15px;
  font-size: 15px;
  display: flex;
}
#sec_a>h4>p{
  color:#465d68 ;
  margin-left: 3px;
}
#fac{
  border: 3px #3b5998 solid;
  color: #3b5998;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.5px;
}
#goo{
  border: 3px #df4a32 solid;
  color: #df4a32;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.5px;
}
#sec_a>form>input{
  margin-left: 10%;
}
#passw{
  display: none;
}
#pa{
  display: none;
}
#sec_a>form>input:nth-child(5){
  background-color: #d5a249;
  letter-spacing: 2px;
  font-size: 17px;
  border: none;
  width: 48%;
  height: 50px;
}
#c_f{
  display: none;
}
#sec_b{
  height: 100%;
  display: none;
}
#sec_b>i{
  display: flex;

justify-content: end;
padding: 10px;
}
.in{
  background-color: unset;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 15px;
  border: #e5e5e5 1px;
  margin-bottom: 25px;
  border-style: none none solid none;
}
#sec_b>form{
  /* margin-top: 10px; */
}
#sec_b>form>h3{
  width: 80%;
  /* padding: 10px; */
  padding-left:10%;
  padding-right:10%;
  font-size: 15px;
}
#sec_b>p{
  margin-top: 10px;
}
#sec_b>form>input:nth-child(13){
  margin-left: 10%;
  width: 48%;
  height: 50px;
  background-color: unset;
  font-size: 18px;
  background-color: #d5a249;
  color: white;
  font-weight: 700;
  border: none;
  margin-top: 10px;
}
