#det{
    width: 65%;
    margin:auto;
    /* background-color:orange; */
    /* height:70vh; */
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#det>div{
}
#imgarr{
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right:50px;
}
#imgarr>img{
    width: 52px;
    height: 66px;
    padding:10px;    
}
#imgmain{
    /* height:1022px; */
    width: 754px;
}
#imgdis{
    height:78%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between
}
#imgban{
        width:473px;
        margin-right:50px;
        display:flex;
        flex-direction: column-reverse;
}
#imgban>div{
    height:200px; 
    width: 100%;
}
#bot_box_a>div{
    margin-top:10px;
}
#bot_box_a>div>i{
    font-size:13px ;
}
#bot_box_id{
    height: 30px;
    display: flex;
}
#bot_box_id>div:nth-child(1){
    border: 1px solid grey;
    border-style: solid solid none solid;
}
#bot_box_id>div{
text-align: center;
display: flex;
align-items: center;
}
#bot_box_id>div:nth-child(2)>h3{
    color: #c9c9c9;
}
#bot_box_id>div>h3{
    padding: 8px;
    font-size: 15px;
}
#bot_box_b{
    width: 100%;
    /* height: 150px; */
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bot_box_b>h3{
    padding: 15px;
    font-size: 15px;
}
#imgban>img{
    width: 100%;
}
#imgbott{
    width: 100%;
    height:22%;
    background-color:lime;
    display:flex;
    justify-content: end;
}
#imgbott>img{
    width:473px;
}
#detes{
    width: 403px;
    height:852px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#detes>h3{
    margin-top: 50px;
    color:#c7b59b ;
}
#detes>h2{
    font-size:18px ;
}
#detes>div{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#detes>h6{
    margin-top: 5px;
}
#detes>h4{
    margin: 5px;
    font-size:12px ;
    color: #939393;
}

.advert{
    display: block;
}
.advert>img{
    width: 180%;
}
#but_add{
    background-color: #d5a249;
    color: white;
    margin-top: 10px;
}

.but_add{
    width: 80%;
    height: 50px;
    border: 2px solid #d5a249;
    font-size: 17px;
}

#pro_a{
    color: #406786;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 900px;
    margin-bottom: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    width: 80%;
}










.fade-in {
	animation: fadeIn 1s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}