#scroller_bar{
  width: 100%;
}
li{
  border:1px solid grey
}
#scroller_bar>div{
  width: 100%;
}
.banter>li{
  position: relative;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background-color: #e1e1e1;
  overflow: hidden;
}
.aaa,.aab,.aac,.aad,.aae,.aaf{
  height: 100%;
  background-color: #939393;
  transition: width 4s;
  width: 0%;
}
#carouselExampleIndicators{
  margin-top: 10px;
  margin-bottom: 10px;
}
#carouselExampleIndicators>div{
  width: 100%;
  background-color: gray;
  
}